html {
    scroll-behavior: smooth;
  }
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
header {
    max-width: 1024px;
    width: 70%; 
    margin: 0 auto;
    font-size: large;
    font-weight: bold;
    text-align: center;
}
.slider {
    max-width: 1024px;
    overflow: hidden;
    background-color: beige;
    border: solid 1rem #7f5849;
    margin: 0 auto;
    scroll-behavior: smooth;
}
.slider-list {
    
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    width: 500%;
    position: relative;
   
}
.box {
    width: 100%; 
    margin: 0 auto;
}
.box img {
    width: 70%;
    height: 80%;
}
h4 {
    width: 50%;
}
.comments {
    display: flex;
    flex-direction: row ;
    width: 70%;
    margin: 1em auto;
}
.dots {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    position: fixed;
    right: 16%;
    margin-top: 1rem;
}
input {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: blue;
    cursor: pointer;
}
input:hover {
    background-color: white;
}
input:active {
    background-color: white;
}
.dots a {
    padding: 1rem;
}

/* media */

@media screen and (max-width: 800px){
   h2 {
    font-size: 1em;
   }
   h4 {
    width: 100%;
    margin-top: 3em;
   }
   .dots {
    right: 29%;
    margin-top: 0;
   }
}
@media screen and (max-width: 700px){
    .box img {
        height: 70%;
    }
 }
    